<%= form_for(stripegem) do |f| %>
  <% if stripegem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stripegem.errors.count, "error") %> prohibited this stripegem from being saved:</h2>

      <ul>
      <% stripegem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
