// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color: #F5F5F5;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-default{
    background-color: #EFEFEB;
}

.navbar-default .navbar-barnd {
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #F45800;
    font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0192B5;
}
.center{
    text-align: center;
}


.thumbnail {
     height: 250px;
     width:  250px;
}

 
 
.col-md-6 {
    h3 { font-size: 45px };
    h5 { font-size: 25px};
    p {font-size: 18px};
} 


.caption{
    h3{
        font-size: 17px;
         margin: 2px;
    }
    p{
        font-size: 15px;
        margin: 0px;
    }
}

@media only screen and (max-width: 928px) {
 .col-md-3:nth-child(4n+1){
    clear:left;
  }
 .thumbnail { 
      width: 250px;
      height: 250px;
    }
}


.jumbotron {
  background-color: #fab66f;
  background: url('http://storypad.info/wp-content/uploads/2015/08/dollarphotoclub_65482539.jpg') repeat center center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  border: 1px solid #f2cb3b;
  h1{
    color: #1affd1;
    font-weight: bold;
  }
  h2{
     color: #e62e00;
     font-weight: bold;
  }
}
